<!DOCTYPE html>
<html>
<head>
    <title>Edit Sentence</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Edit Sentence</h1>
    <form method="POST">
        <label for="text">Sentence:</label><br>
        <input type="text" id="text" name="text" value="{{ sentence.text }}"><br><br>
        {% if sentence.vocabularies %}
            {% for vocab in sentence.vocabularies %}
                Word:<br>
                <input type="text" id="word" name="word" value="{{ vocab.word }}"><br>
                Pronounciation:<br>
                <input type="text" id="pronounciation" name="pronounciation" value="{{ vocab.pronounciation }}"><br>
                Meaning:<br>
                <input type="text" id="meaning" name="meaning" value="{{ vocab.meaning }}"><br>
                Comment:<br>
                <input type="text" id="comment" name="comment" value="{{ vocab.comment }}"><br><br>
            {% endfor %}
        {% endif %}
        <input type="submit" value="Update">
    </form>
    <p><a href="{{ url_for('sentence_list') }}">Back to List</a></p>
</body>
</html>
