<!DOCTYPE html>
<html>
<head>
    <title>Sentence List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sentence_list.css') }}">

</head>
<body>
    {% include 'navbar.html' %}
    <h1>Sentence List</h1>
    <ul>
        {% for key, sentence in page_sentences.items() %}
            <li>
                {{ key }}
                <a class="sentence-link" href="{{ url_for('edit', id=key) }}">
                    {{ sentence.text }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <div class="pagination">
        {% for p in range(1, total_pages + 1) %}
            <a href="{{ url_for('sentence_list', page=p) }}" class="{{ 'active' if p == current_page else '' }}">{{ p }}</a>
        {% endfor %}
    </div>
</body>
</html>
